@import "reset.css";

html {
    font-size: 6.25%;
    --cprimary: #2b4074;
    --cyw: #f9f6e5;
    /*--container-wid0: 1440px;
    --container-wid1: 1170px;
    --container-wid2: 1140px;
    --container-wid3: 886px;*/

    --wid0: 1440px;
    --wid1: 1316px;
    --wid2: 1140px;
    --wid3: 886px;
    --delta1: calc((var(--wid0) - var(--wid1)) / 2);
    --delta2: calc((var(--wid0) - var(--wid2)) / 2);
    --delta3: calc((var(--wid1) - var(--wid2)) / 2);
    --discol: #fff;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16rem;
    font-weight: 300;
}

.btn {}
.btn a {
    font-family: 'Roboto';
    font-size: 18rem;
    text-transform: uppercase;
    line-height: 1em;
    border-radius: 3px;
    transition-duration: 0.1s;
}
.btn a:hover {
    filter: brightness(0.85);
}
.hr {
    width: 100rem;
    height: 8rem;
    background: var(--cprimary);
}
.slider-discs {
    display: flex;
}
.slider-discs__item {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.slider-discs--color--primary .slider-discs__item {
    border-color: var(--cprimary);
    background: var(--cprimary);
}
.slider-discs__item + .slider-discs__item {
    margin-left: 10px;
}
.slider-discs__item--current {
    background: transparent !important;
}
.text {}
.text--accent {
    color: var(--cprimary);
    font-weight: 700;
}

.root {}
.root__container {
    margin: 0 auto;
    max-width: var(--wid0);
}
.root__container--hhead {
    max-width: var(--wid1);
    padding-right: var(--delta3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.root__container--hmain {
    max-width: var(--wid3);
}
.root__container--recall {
    max-width: var(--wid2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 192rem
}
.root__container--service {
    max-width: var(--wid0);
    padding-left: var(--delta1);
    display: flex;
    justify-content: space-between;
}
.root__container--projects {
    max-width: var(--wid2);
}
.root__container--team {
    max-width: var(--wid2);
    display: flex;
}
.root__container--last-news {
    max-width: var(--wid1);
}
.root__container--quote {
    max-width: var(--wid3);
}
.root__container--footer {
    max-width: var(--wid2);
    padding: 158rem 0 97rem;
}
.root__projects {
    padding: 80rem 0;
}
.root__team {
    padding: 50rem 0 100rem;
}
.root__last-news {
    padding: 55rem 0 80rem;
}
.root__quote {
    padding: 90rem 0 133rem;
}
.root__footer {
    position: relative;
}

.header {
    background: var(--cprimary);
}
.header__head {}
.header__main {
    font-family: 'Roboto Condensed';
    background: url('../img/bg.jpg') no-repeat center / cover;
    color: #fff;
    position: relative;
}
.header__recall {}

.hhead {}
.hhead__logo {
    position: relative;
    -left: calc(-1 * var(--delta3));
}
.hhead__menu-btn {}
.hhead__menu-btn button {
    border: none;
    outline: none;
    background: #fff;
    width: 40rem;
    height: 40rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.hhead__menu-btn img {
}

.hmain {
    text-align: center;
}
.hmain__fg {
    background: rgba(0, 0, 0, 0.5);
    padding: 107rem 0 78rem;
}
.hmain__text-1 {
    font-size: 96rem;
    text-transform: uppercase;
}
.hmain__text-2 {
    font-size: 24rem;
    margin-top: 18rem;
}
.hmain__more-btn {
    margin-top: 46rem;
}
.hmain__more-btn a {
    padding: 15rem 46rem;
    background: var(--cprimary);
}
.hmain__slider-discs {
    margin-top: 123rem;
    justify-content: center;
}
.hmain__slider-btns {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.hmain__slider-btn {}
.hmain__slider-btn:hover button {
    filter: brightness(0.95);
}
.hmain__slider-btn:active button {
    filter: brightness(0.85);
}
.hmain__slider-btn button {
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.hmain__slider-btn:first-of-type button {
    background: var(--cprimary);
}
.hmain__slider-btn:last-of-type button {
    background: var(--cyw);
}

.recall {
    color: #fff;
}
.recall__block {}
.recall__text-1 {
    font-size: 24rem;
    font-weight: 400;
}
.recall__text-2 {
    font-size: 18rem;
    margin-top: 19rem;
    width: 70%;
}
.recall__btn {
    font-size: 18rem;
    color: var(--cprimary);
    font-weight: 400;
}
.recall__btn a {
    background: var(--cyw);
    padding: 14rem 16rem;
}

.section {}
.section__title {
    font-family: 'Roboto Condensed';
    font-size: 48rem;
    text-transform: capitalize;
}

.service {}
.service__block {}
.service__block:first-child {
    -width: 77%;
    padding-right: 60rem;
    width: 453rem;
}
.service__block:last-child {
    -width: 60%;
    flex: 2;
}
.service__title {
    color: var(--cprimary);
    margin-top: 90rem;
}
.service__text-1 {
    font-size: 26rem;
    color: #4a4a4a;
    margin-top: 64rem;
}
.service__text-2 {
    font-size: 24rem;
    color: #797979;
    margin-top: 34rem;
    margin-bottom: 32rem;
    line-height: 24rem;
}
.service__hr {
    margin-top: 30rem;
}
.service__table {
    --bdr: 1px solid var(--cyw);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 270rem;
    border-left: var(--bdr);
}
.service__card {
    border-bottom: var(--bdr);
    border-right: var(--bdr);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sv-card {
    font-family: 'Roboto Condensed';
    -cursor: pointer;
    font-size: 16rem;
    overflow: hidden;
}
.sv-card,
.sv-card * {
    transition-duration: 0.3s;
}
.sv-card__img {}
.sv-card__img img {}
.sv-card__title {
    color: #4a4a4a;
    margin-top: 27rem;
}
.sv-card__onhover {
    height: 0;
    opacity: 0;
}
.sv-card__description {
    font-family: 'Roboto';
    color: #9b9b9b;
    width: 95%;
    margin: 33rem auto 0;
}
.sv-card__title,
.sv-card__more-caption {
    font-weight: 700;
    letter-spacing: 0.11em;
    text-transform: uppercase;
}
.sv-card__more-caption {
    color: var(--cprimary);
    margin-top: 24rem;
}

.sv-card:hover {
    border: 4px solid var(--cprimary);
}
.sv-card:hover .sv-card__img {}
.sv-card:hover .sv-card__img img {}
.sv-card:hover .sv-card__title {
    margin-top: 14rem;
}
.sv-card:hover .sv-card__onhover {
    height: 37%;
    opacity: 1;
}
.sv-card:hover .sv-card__description {}
.sv-card:hover .sv-card__more-caption {}

.projects {
    background: linear-gradient(var(--cprimary), #fff);
}
.projects__title {
    color: #fff;
    text-align: center;
}
.projects__hr {
    margin: 0 auto;
    background: #fff;
    margin-top: 24rem;
}
.projects__gallery {
    margin-top: 80rem;
    display: flex;
    justify-content: space-between;
}
.projects__card {
    display: inline-block;
}

.pj-card {}
.pj-card,
.pj-card * {
    transition-duration: 0.1s;
}
.pj-card__img {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.pj-card__img img {}
.pj-card__title {
    margin-top: 38rem;
    font-size: 16px;
    font-family: 'Roboto Condensed';
    color: var(--cprimary);
    letter-spacing: 0.1em;
    font-weight: 700;
    text-align: center;
}

.pj-card__onhover-wrapper {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11rem 13rem;
    width: 100%;
    height: 100%;
}
.pj-card__onhover {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pj-card__btn {}
.pj-card__btn + .pj-card__btn {
    margin-left: 10rem;
}
.pj-card:hover {
}
.pj-card:hover .pj-card__onhover-wrapper {
    opacity: 1;
}

.team {}
.team__block:last-child {
    padding-left: 100rem;
    position: relative;
    width: 584rem;
}
.team__img {
    border-radius: 4px;
    overflow: hidden;
}
.team__title {
    color: #4a4a4a;
}
.team__hr {
    margin-top: 32rem;
    width: 113rem;
}
.team__description {
    margin-top: 39rem;
    color: #9b9b9b;
    line-height: 24rem;
}
.team__btn {
    --padd-v: 21rem;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(var(--padd-v) * -1));
}
.team__btn a {
    padding: var(--padd-v) 35rem;
    background: var(--cprimary);
    color: #fff;
    font-weight: 400;
}

.last-news {
    background: var(--cyw);
}
.last-news__title {
    text-align: center;
    color: #4a4a4a;
}
.last-news__hr {
    margin: 19rem auto 115rem;
}
.last-news__masonry-wrapper {
    display: flex;
    justify-content: center;
}
.last-news__masonry {
    --gap: 30rem;
    display: flex;
    -grid-template-columns: repeat(4, 1fr);
    -grid-auto-rows: auto;
    -flex-direction: column;
    writing-mode: vertical-lr;
    flex-wrap: wrap;
    height: 720rem;
    -column-count: 4;
    align-items: flex-start;
    gap: calc(var(--gap) / 2) var(--gap);
    margin: 0 auto;
}

.masonry {}
.masonry__brick {
    border-radius: 4px;
    overflow: hidden;
    writing-mode: initial;
    position: relative;
}
.masonry__brick,
.masonry__brick * {
    transition-duration: 0.2s;
}
.masonry__brick:nth-of-type(2n) {
    -flex-grow: 1;
}
.masonry__img {}
.masonry__img img {}
.masonry__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 9rem 19rem;
    color: #4a4a4a;
    font-size: 16rem;
    font-family: 'Roboto Condensed';
    letter-spacing: 0.1em;
    font-weight: bold;
}
.masonry__onhover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.masonry__brick:hover {}
.masonry__brick:hover .masonry__img {
    filter: brightness(0.85);
}
.masonry__brick:hover .masonry__title {
    background: var(--cprimary);
    color: #fff;
    transform: translateY(-30rem);
}
.masonry__brick:hover .masonry__onhover {
    opacity: 1;
    border: 10px solid var(--cprimary);
}
.masonry__break {
    flex-basis: 100%;
    -flex-grow: 1;
}
.masonry__break--a {}

.quote {
    text-align: center;
    font-family: 'Roboto Condensed';
}
.quote__q-icon {
}
.quote__q-icon img {}
.quote__text {
    font-size: 36rem;
    color: #4a4a4a;
    margin-top: 45rem;
}
.quote__author {
    color: #4a4a4a;
    font-size: 24rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-top: 30rem;
}
.quote__slider-discs {
    justify-content: center;
    margin-top: 80rem;
}

.footer {
    background: var(--cprimary);
    color: #fff;
}
.footer__top-caption-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}
.footer__top-caption {
    padding: 0 73rem;
    background: var(--cprimary);
    border-radius: 3px;
}
.footer__text {
    font-size: 24rem;
    letter-spacing: 2rem;
    line-height: 32rem;
}
.footer__media {
    --bdr: 1px solid #fff;
    height: 63rem;
    display: flex;
    border-top: var(--bdr);
    border-bottom: var(--bdr);
    margin-top: 80rem;
}
.footer__med-item {
    flex: 1;
}
.footer__med-item + .footer__med-item {
    border-left: var(--bdr);
}
.footer__med-item a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer__med-item a:hover {
    background: rgba(0, 0, 0, 0.05);
}
.footer__colrow {
    display: flex;
    margin-top: 80rem;
}
.footer__col {
    flex: 1;
}
.ft-col {}
.ft-col__title {
    font-size: 16rem;
    font-weight: 700;
    letter-spacing: 2rem;
    text-transform: uppercase;
}
.ft-col__list {
    font-size: 12rem;
    margin-top: 20rem;
    line-height: 20rem;
}
.ft-col__litem {
}
.ft-col__litem a:hover {
    text-decoration: underline;
}
